games.dtd

<!ELEMENT games (game+)>

<!ELEMENT game (id, name, created_at, created_by, image, rating, description, category)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT created_by (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT category (#PCDATA)>
